*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
}

#app {
  background-color: #F1F7F9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Gotham Rounded Medium", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-weight: 540;
  line-height:35px;
  overflow-x: hidden;
}
.l-container{
  max-width: 900px;
}
ul,li,a{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.dropdown{
  width: 90%;
  margin: 1em auto;
  position: relative;
  display: flex;
  align-items: center;
}
.dropdown-button{
  width: 100%;
  padding: 0.5em 1em;
  background: #ffffff;
  box-shadow: 0px 2px 1px #9facc9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  font-weight: bold;
  color: #294e9e;
  cursor: pointer;
  user-select: none;
  gap: 1em;
  background-color: none;
  transition: all 0.3s;
}

.dropdown-button:hover{
  background-color: #22aeff3b;
}

.dropdown-button__title{
  margin: 0;
  line-height: 1.2em;
}
.dropdown-button__icon{
  color:#016299;
}

.dropdown-menu{
  position: absolute;
  border-radius: 10px;
  width: calc(100%);
  height: 150px;
  top: calc(100% + 0.5em);
  border: 1px solid #ccc;
  background-color: #F3F6FB;
  overflow: hidden;
  display: none;
  transform: translateX(-50%);
  left: 50%;
}
.dropdown-menu-container{
  width: 100%;
  height: 100%;
}
.dropdown-menu-container > ul{
  position: relative;
}
.dropdown-menu-container  ul{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dropdown-menu-container  li {
  background-color: white;
  flex: 1;
  display: grid;
  place-items: center;
  color: #294e9e;
  font-weight: bold;
  text-align: center;
}
.dropdown-menu-container > ul > li > ul {
  display: none;
}

.dropdown-menu-container > ul > li ul  {
  width: 100%;
}
.dropdown-menu-container > ul > li ul li  {
  height: 33.3%;
}


li:hover > span ~ ul {
  display: block;
}

.dropdown-menu-container > ul  li:not(:last-of-type){
  border-bottom: 1px solid #ccc;
}
/* 
.dropdown-menu-container > ul  li{
  border-bottom: 1px solid #ccc;
  border-right:1px solid #ccc;
} */

li{
  cursor: pointer;
}

li:hover {
  background-color: #22aeff3b;
}

ul  li {
  /* position: relative; */
  /* max-width: 259px; */
}
.dropdown-menu-container > ul ul{
  position: absolute;
  display: none;
  top: 0;
  
}


li > ul {
  display: block;
  top: 0;
  left: 100%;
}


.banner {
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  background: url(background.svg) no-repeat right top,
  linear-gradient(157.76deg,#b6e5ff 4.76%,#9fddff 76.39%);
  padding: 1.6em;
  box-shadow: 0 6px #ccd6e67d;
    border-radius: 30px 30px 0 0;
  color: #41495c;
  display: flex;
}
ul{
  height: 100%;
}
.banner__img{
  display: grid;
  place-items: center;
}
.banner__img img{
  max-width: 100%;
  padding-left: 100px;
  padding-top: 50px;
}

.options {
  display:flex;
}

[class$="-option"] {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  display:none;
}
[class$="-option"] button{
  width: 33.3%;
  background: #ffffff;
  flex: 1 1 auto;
  border:none;
  outline: none;
  font-weight: bold;
  font-size: 1em;
  color:#ccc;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom:3px solid #FFFFFF;
}
[class$="-option"] .option--active{
  color : #016299;
  border-bottom:3px solid #016299;
}

@media screen and (min-width:800px) {
  .result-container{
    justify-content: flex-start !important;
    width: initial !important;
  }
  .result-container  .result{  
    padding: 0.3em 1em !important;
  }
  .dropdown-menu {
    transform: none;
    left: 0;
    width: calc(100% + 60px);
  }
  .dropdown{
    width: 290px;
    margin: 0;
    /* margin: 1em 1em; */
  }
  .results-wrapper{
    font-size: 1em !important;
  }
  .banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .actions{
    display:flex;
    gap: 1em;
    margin-bottom: 1em;
  }
  .options{
    flex: 1;
  }
}


.dropdown-menu--active{
  display: initial;
}

.main{
  width: min(90%,1050px);
  margin: 2em auto;
}
.results{
  margin-bottom: 1em;
}
.results-wrapper{
  margin-top: 1em;
  font-size:1em;
}
.result-container{
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
  /* margin-left: 250px; */
  /* margin-bottom: 10px; */
}
.result-container  .result{
   
  background:#016299;
  padding: 0em 1em;
  text-decoration: none;
  border-radius: 20px;
  color:white;
}

.result-container  .result:hover{
  background:#00b3fa;
}
[data-result] {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  /* margin-left: 230px; */
}

hr{
  border: 0.3px solid #00b3fa;
  border-radius: 0.5px;
  margin-left: 250px;
}

.hover .result{
  position: relative;
  
}
.result-container.hover{
  display:inline-flex;
}

.hover ul{
  display:none;
  flex-direction: column;
  position:absolute;
  top: 45px;
  left:25px;
  width:100%;
  background-color: #61C5FF;
  border-radius: 5px;
  z-index: 99;
  height:fit-content;
  padding:0.5em;
  color:white;
}
.hover ul li,.hover ul li a{
  color:white;
}
.hover .result:hover ul{
  display:flex;
}
.dropdown-menu{
  z-index:999;
}

footer{
  margin-top:auto;
  background-color: #393F48;
  width: 100%;
}
footer img,header img{
  display:block;
  margin: 0 auto;
  max-width: 100%;
}
header > :first-child{
  background-color: #393F48;
}
header > :last-child{
  background-color: white;
}